<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Search By Ticker Symbol</h2>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input #ticker type="text" class="form-control input-lg" placeholder="Search" />
          <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" (click)="search(ticker.value)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Ticker : {{symbol}}</h2>
      <h2>Price : {{price  | currency:'USD':true}}</h2>

    </div>
  </div>
</div>
